@font-face {
  font-family: "Calibri";
  font-display: swap;
  src: url("../fonts/Calibri.woff") format("woff"), url("../fonts/Calibri.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Calibri";
  font-display: swap;
  src: url("../fonts/CalibriBold.woff") format("woff"), url("../fonts/CalibriBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Georgia";
  font-display: swap;
  src: url("../fonts/Georgia.woff") format("woff"), url("../fonts/Georgia.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Georgia";
  font-display: swap;
  src: url("../fonts/GeorgiaBold.woff") format("woff"), url("../fonts/GeorgiaBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Georgia";
  font-display: swap;
  src: url("../fonts/GeorgiaItalic.woff") format("woff"), url("../fonts/GeorgiaItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Georgia";
  font-display: swap;
  src: url("../fonts/GeorgiaBoldItalic.woff") format("woff"), url("../fonts/GeorgiaBoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}
